.menu {
    margin: 10px 10px;
}

.menuItem {
    margin-left: 20px;
    margin-bottom: 3px;
}

.menuArrow {
    width: 20px;
}

.menuArrowTurned {
    width: 20px;
    transform: rotate(90deg);
}

.menuText {
    font-size: 15px;
    color: #3954bc;
    margin-left: 5px;
}

.line {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    padding-left: 20px;
  }
  
  ul ul {
    margin-left: 20px;
    padding-left: 0;
  }
  
  li {
    position: relative;
    padding-left: 20px;
    line-height: 1.5em;
  }

  ul ul ul {
    margin-left: 20px;
    padding-left: 0;
  }
  
  ul ul ul ul {
    margin-left: 20px;
    padding-left: 0;
  }