.menu {
  margin: 10px 10px;
}

.menuItem {
  margin-left: 20px;
  margin-bottom: 3px;
  animation: openMenu 0.5s ease-in forwards;
}

@keyframes openMenu {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

.menuArrow {
  width: 20px;
  transition: 0.5s;
}

.menuArrowTurned {
  width: 20px;
  transform: rotate(90deg);
  transition: 0.5s;
}

.hidden {
  width: 20px;
  visibility: hidden;
}

.menuText {
  font-size: 15px;
  color: #3954bc;
  margin-left: 5px;
}

.line {
  display: flex;
  align-items: center;
  line-height: 20px;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

ul ul {
  margin-left: 20px;
}

ul ul ul {
  margin-left: 20px;
}

ul ul ul ul {
  margin-left: 20px;
}

ul ul ul ul ul {
  margin-left: 20px;
}

li {
  padding-left: 20px;
  line-height: 20px;
}