* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

.container {
  max-width: 1230px;
  margin: 10px auto;
  padding: 0 15px;
  display: flex;
}

li {
  list-style-type: none;
}

.menu__arrow {
  width: 20px;
}

.menu__text,
.submenu__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #0099f7;
  margin-left: 5px;
}